/* 
.navbar {
    display: block;
    height: 94px;
    width: 100%;
}

.logo_container {
    height: 28px;
    margin-top: 32px;
    margin-left: 26px;
}

.navbar__menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style: none;
} */